<h1>Listing block_typs</h1>

<table>
  <thead>
    <tr>
      <th>Show name</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @block_typs.each do |block_typ| %>
      <tr>
        <td><%= block_typ.show_name %></td>
        <td><%= block_typ.name %></td>
        <td><%= link_to 'Show', block_typ %></td>
        <td><%= link_to 'Edit', edit_block_typ_path(block_typ) %></td>
        <td><%= link_to 'Destroy', block_typ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block typ', new_block_typ_path %>
