<p id="notice"><%= notice %></p>

<p>
  <strong>Show name:</strong>
  <%= @block_typ.show_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @block_typ.name %>
</p>

<%= link_to 'Edit', edit_block_typ_path(@block_typ) %> |
<%= link_to 'Back', block_typs_path %>
