<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nav_type.name %>
</p>

<p>
  <strong>Show name:</strong>
  <%= @nav_type.show_name %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @nav_type.pic %>
</p>

<%= link_to 'Edit', edit_nav_type_path(@nav_type) %> |
<%= link_to 'Back', nav_types_path %>
